In [1]:
import pandas as pd


df = pd.read_csv("Output/new_short.csv")
df.head()

,Name,Longitude,Latitude,Max Temperature,Humidity,Cloudiness,Wind,Country
0,Atar,-13.05,20.52,75.812,29,100,5.48,MR
1,Atuona,-139.03,-9.80,79.772,71,5,7.76,PF
2,Ribeira Grande,-28.70,38.52,66.200,52,20,2.10,PT
3,Busselton,115.35,-33.64,60.998,58,0,1.91,AU
4,Itoman,127.67,26.12,73.400,64,75,2.10,JP

In [2]:
df.to_html("Output/lat_data.html")